$color-red:#f64f59;
$color-purple:#7F00FF;
$color-blue:#009FFF;
$color-orange:#FF8C00;
$color-cyan:#40E0D0;
$color-grey:#d7d2cc;
$color-white:#ffffff;

$dark:#0F2027;
$light:#ffffff;

$bg-color:#bdc3c7;
$main-color:$color-purple;
$theme:$light;

$font-size:14px;
$padding:10px;
$margin:10px;
$box-shadow:0 0 10px 0 rgba(0,0,0,.2);
$transition:.3s ease;
